# Secret files
**/.env

# IDE files
**/.vscode

# Python files
**/*.pyc
**/__pycache__
**/*.ipynb

# data files
**/*.nc
**/cache

# other
**/.DS_Store
**/*.bak

# exceptions
!demo-cryogird_exper.ipynb
!demo-cryogrid_exper.ipynb
data/**
